$color: gray;

@font-face {
  font-family: 'Alice', serif;
  src: local('Alice'), url('assets/fonts/Alice-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.app-container {
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-family: 'Alice', serif;
  text-align: center;
  color: $color;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
}

h2 {
  margin-top: 20px;
  text-align: center;
}
